# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class


# Pycharm
.idea/*

# results dir
/results
/files

/core/ctree/cytree.cpp
/core/ctree/cytree.cpython-39-x86_64-linux-gnu.so
/core/ctree/build

test.py